body{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  overflow: hidden;  
}
.panel{
  cursor: default;
  overflow: hidden;
}
/* ttt page */
.tttpage{
  position: relative;
  background-color: #F4F4F4;
  background-image: url("Homepage.svg");
  /* background-attachment: fixed; */
  background-repeat:repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center; 
}
.gccontainer{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.xoinfo{
  display: flex;
  /* width:300px;
  height: 400px; */
  flex-direction: column;
  text-align: center;
}
.game1{
  display: block;
  font-family:'Josefin Sans', sans-serif;
  color:#0F7173;
  font-weight: bold;
  width: 100%;
  font-size: 4rem;
  text-decoration: underline;
  margin-bottom: 2%;
}
.xoinfo h3{
  font-weight: bold;
  font-size: 3rem;
  color:#272932;
  margin: none;
}
.g1list{
  text-align: left;
}
.g1list li{
  list-style-type: disc;
  font-size: 2rem;
}
.gcard{
 display: flex;
 position: relative;
 margin: 10% 10% 10% 20%;
 width:300px;
 height:400px;
 text-align: center;
 align-items: center;
 background-color: #EDF0F5;
 transform-style: preserve-3d;
 transform:perspective(2000px) rotate(-5deg);
 box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5),-30px -30px 20px rgba(0, 0, 0, 0.5);
 transition: 1s;
}
.gcard:hover
{
  transform:perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5),-30px -30px 20px rgba(0, 0, 0, 0.5);
}
.gcard:before{
  content:'';
  position: absolute;
  top:-5px;
  left:0;
  width: 100%;
  height: 5px;
  background-color: #D8A47F;
  transform: skewX(-45deg);
  transform-origin: bottom;
}
.gcard:after{
  content:'';
  position: absolute;
  top:0;
  right:-5px;
  width:5px;
  height: 100%;
  background-color: #D8A47F;
  transform: skewY(-45deg);
  transform-origin: left;
}
.gcard .imgcard{
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  /* margin: 10% auto 10%; */
  transition:1s cubic-bezier(.12,1.37,.52,.55);
  transform-origin: left;
  border:4px solid #F4F4F4;
  z-index: 2;
}
.gcard:hover .imgcard{
  transform: rotateY(-135deg);
}
.gcard .cdetails{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top:0;
  z-index: -1;
  color: #211A1D;
  font-weight: lighter;
  text-align: center;
}
.gcard .cdetails h2{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
.gcard .cdetails p{
  margin:0.4%;
}
.button52 {
  text-align: center;
  background-color:#0F7173; 
  border: 2px solid #D8A47F; 
  border-radius: 5px;
  color: #D8A47F;
  margin:10% auto;
  padding-left: 5em;
  padding-right: 5em;
  padding-top:0.5em;
  padding-bottom: 0.5em;
  text-decoration: none;
  font-weight: 500;
  width:10%;
}

.button52:focus,
.button52:hover {
  background-color: #D8A47F;
  color: #0F7173;
  border: 2px solid #0F7173;
  font-weight: 500;
}
.button521{
  background-color:#E12D2D; 
  border: 2px solid #D8A47F; 
  border-radius: 5px;
  color: #D8A47F;
  padding-left: 5em;
  padding-right: 5em;
  padding-top:0.5em;
  padding-bottom: 0.5em;
  text-decoration: none;
  font-weight: 500;
  width: 10%;
  margin:10% auto;
}

.button521:focus,
.button521:hover {
  background-color: #D8A47F;
  color: #E12D2D;
  border: 2px solid #E12D2D;
  font-weight: 500;
}
/* ---------------------- */
.tzfeg{
  position: relative;
  background-color: #F4F4F4;
  background-image: url("tzfe.svg");
  /* background-attachment: fixed; */
  background-repeat:repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center; 
}
/* ---------------------- */
.devcontainer{
  display: flex;
  position: relative;
  justify-content: space-evenly;
  flex-direction:row;
  align-items: center;
  margin: 0;
  padding: 0;
  width:100%;
  height:100vh;
  background-image: url("developers.svg");
  /* background-attachment: fixed; */
  background-repeat:repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center; 
}
.devcontainer::before{
  content: attr(data-text);
  position: absolute;
  top:20%;
  left:40%;
  color:#211A1D;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
}
.devcard{
  width:200px;
  height:300px;
  margin-top: 5%;
  background: #EDF0F5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.5s;
}
.devcard:hover{
  background: #D8A47F;
  box-shadow: -30px -30px 20px rgba(0, 0, 0, 0.5);
}
.devcard img{
  width: 50%;
  text-align: center;
  margin:5% auto;
}
.devcard:nth-child(1){
  border: 4px solid #0F7173;
}
.devcard:nth-child(2){
  border: 4px solid #E12D2D;
}
.devcard:nth-child(3){
  border: 4px solid #0F7173;
}
footer{
  position: absolute;
  bottom: 0;
  left:0;
  width:100%;
  color:#211A1D;
  background-color: #B9966E;
  text-align: center;
  align-items: center;
}
footer h3{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
.button52f{
  background-color:#F4F4F4; 
  border: 2px solid #0e76a8; 
  border-radius: 5px;
  color:#0e76a8;
  margin:auto 20%;
  padding: 2% 10%;
  text-decoration: none;
  font-weight: bold;
  width:40%;
  text-align: center;
}

.button52f:focus,
.button52f:hover {
  background-color: #0e76a8;
  color: #F4F4F4;
  border: 2px solid #F4F4F4;
  font-weight: bold;
}
.linkedin{
  width:10px;
}
